.leftPanel {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 370px;
    padding: 50px 0;
    background-color: #424242;
    box-sizing: border-box;
}
