.rightPanel

    .upgrade(style="display:none")

        h2.upgrade__title Name

        .upgrade__amount 0

        .row.upgrade__row

            .upgrade__img

            .column.upgrade__column

                .row
                    span.upgrade__info.upgrade__cost 0

                .row
                    span.upgrade__info.upgrade__produce 0
