.rightPanel

    .note

        h2.note__title Worker

        .note__content

            .note__text-container

                .note__field
                    span.note__text Cost:&nbsp;
                    span.note__text 20
                .note__field
                    span.note__text Amount:&nbsp;
                    span.note__text 10
                .note__sign
                    span Hire

            img.note__img(src="./img/worker.png")

    //- .note
    //-
    //-     h2.note__title Engineer
    //-
    //-     .note__content
    //-
    //-         .note__text-container
    //-
    //-             .note__field
    //-                 span.note__text Cost:&nbsp;
    //-                 span.note__text 20
    //-             .note__field
    //-                 span.note__text Amount:&nbsp;
    //-                 span.note__text 10
    //-             .note__sign
    //-                 span Hire
    //-
    //-         img.note__img(src="./img/engineer.jpg")
    //- .note
