.counter
    .counter__layer
    .counter__layer
        .counter__devider
        span.counter__text 01
        .counter__devider
        span.counter__text 02
        .counter__devider
        span.counter__text 03
        .counter__devider
