.counter {
    position: relative;
    width: 320px;
    height: 110px;
    background-color: #424242;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
    margin-top: 50px;
    background-color: #212529;
    text-align: center;

    &__text {
        font-family: "Space Mono";
        color: #8BC34A;

        &_big {
            font-size: 60px;
            line-height: 50px;
        }

        &_small {
            font-size: 20px;
            line-height: 20px;
        }

    }

    &__column {
        height: 100%;
        align-items: center;
        justify-content: space-around;
    }

}

#counterPerSecond::before {
    text-transform: uppercase;
    content: 'Per second: ';
}
